includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - vendor
        - assets
        - includes/js
        - node_modules
